html{
    background-image: url('Images/splash.jpg');
    background-repeat:no-repeat; 
    background-origin: center;
    background-attachment:fixed;
    background-size: cover;
            
}

nav{
    position:absolute;
    Top:25px;
    width: 100%;
    background-color:rgba(0,0,0,0.4);
    padding-top:20px;
    padding-bottom:20px;
}

nav ul{
    text-align: left;
    margin-right: 38px;
    min-width: 875px;
  
}

nav ul li{
    display:inline; 
    padding: 20px;
    text-transform: uppercase;
    font-family:Arial;
    font-weight: normal;
    font-size: 20px;
    letter-spacing:2px;
    word-spacing:25px;
    color: #FFFFFF;
}

nav ul li:hover{
    font-style:oblique;
    background-color:rgba(150,150,150,0.4);
}


.logo{
    position:absolute;
    top:200px;
    width: 70%;
    height: 200px
}

.stretch{
         min-width:100%; min-height:25%; width:auto; height:auto; 
 }

button{
    position:relative;
    margin-top:25px;
    padding: 20px;
    background-color: rgba(0, 160, 0,0.4);
    border:none;
    text-align:center;
    color: #FFFFFF;
    font-size: 30px;
    font-family: Arial;
    font-weight: Bold;
    letter-spacing: -1px;
    text-transform:capitalize;
}

a{
   color:#FFFFFF;
   text-decoration:none;
}
a:hover{
    color:#999999;
}

/*
h1{ 
 
}

h1 span{
    padding:20px;
    background-color: rgba(0, 160, 0,0.8);
    color: #FFFFFF;
    font-size: 60px;
    font-family: Arial;
    font-weight: Bold;
    letter-spacing: -1px;
 }
h2{
   padding-top:20px;
 }
h2 span{
    padding: 20px;
    background-color: rgba(0, 160, 0,0.4);
    color: #FFFFFF;
    font-size: 30px;
    font-family: Arial;
    font-weight: Bold;
    letter-spacing: -1px;
    text-transform:capitalize;
}*/
